li {
  list-style-type: none;
}

.searchBar {
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: #C4D0C6;
  width: 200px;
}

.searchBar input {
  border: none;
  background-color: #C4D0C6;
  max-width: 175px;
}

.searchBar input:focus {
  outline:none;
}

.searchBar button {
  border-radius: 10px;
  min-width:18px;
  border: none;
  background-color: #E3E9E9;
  font-weight: bolder;
}

.searchBar button:hover {
  background-color: #616666;
}
.resultsList {
  max-height:200px;
  overflow: scroll;
}

.searchItems {
  background-color: #C4D0C6;
  border: none;
  margin: 1px;
  padding: 5px;
  border-radius: 3px;
  max-width: 180px;
  min-width: 180px;
  min-height: 40px;
  z-index: 10;
}

.searchItems:hover {
  background-color: #878e88;
}

